.popular-collections {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 70px 20px;
	margin-bottom: 100px;
}

.popular-header {
	text-transform: capitalize;
}
