.signin-drop {
  position: absolute;
  right: 0;
  margin-right: 25px;
  background-color: white;
  display: inline-block;
  width: 45%;
  height: 400px;
  border-radius: 10px;
  margin-top: 45px;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;

  .sidebar-lower {
    margin-top: 30px;
    border-top: 1px solid #d5d8db;
  }

  .sidebar-upper {
    align-items: center;

    p {
      margin-left: 10px;
    }
  }
}
